div.display-wrapper {
    position: absolute;
    background-color: white;
    top: 25vh;
    left: 50vw;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--text-light);
    max-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 100;
}

div.display-wrapper div {
    border-right: 1px solid var(--text-light);
    margin-right: 15%;
}

div.display-wrapper div.isp {
    border: none;
}

div.display-wrapper div span {
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 700;
}

@media(max-width: 380px) {
    div.display-wrapper {
        top: 42vh;
        left: 50vw;
        width: 80vw;
        height: 40vh;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: 11px;
        padding-left: 0;
        justify-items: center;
        align-items: center;
    }

    div.display-wrapper div {
        border-right: 0;
        margin-right: 0;
        font-weight: 600;
        text-align: center;
    }

    div.display-wrapper div span {
        font-size: 16px;
        font-weight: 700;
    }
}

@media(max-width: 420px) {
    div.display-wrapper {
        top: 42vh;
        left: 50vw;
        width: 80vw;
        height: 40vh;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: 11px;
        padding-left: 0;
        justify-items: center;
        align-items: center;
    }

    div.display-wrapper div {
        border-right: 0;
        margin-right: 0;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

    div.display-wrapper div span {
        font-size: 22px;
        font-weight: 700;
    }
}