div.display-wrapper {
    position: absolute;
    background-color: white;
    top: 25vh;
    left: 50vw;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--text-light);
    max-width: 1200px;
    padding-left: 20px;
    box-sizing: border-box;
}

div.display-wrapper div {
    border-right: 1px solid var(--text-light);
    margin-right: 15%;
}

div.display-wrapper div.isp {
    border: none;
}

div.display-wrapper div span {
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 700;
}