header {
    background-image: url(pattern-bg.png);
    height: 26vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    text-align: center;
    padding-top: 2vh;
    color: white;
    font-weight: 500;
    user-select: none;
}

header form {
    display: block;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

header form input {
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: none;
    padding-left: 15px;
    width: 420px;
    height: 50px;
    line-height: 100px;
}

textarea:focus,
input:focus {
    outline: none;
}

header form button {
    border: none;
    background-color: black;
    border-radius: 0 10px 10px 0;
    color: white;
    width: 40px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

@media(max-width: 420px) {
    header {
        height: 42vh;
    }

    header h1 {
        font-weight: 400;
        padding-top: 3vh;
    }

    header form {
        top: 14vh;
        left: 50vw;
        height: 40px;
        width: 330px;
    }

    header form button {
        width: 100px;
    }
}

@media(max-width: 380px) {
    header {
        height: 42vh;
    }

    header h1 {
        font-weight: 400;
        padding-top: 3vh;
    }

    header form {
        top: 14vh;
        left: 50vw;
        height: 40px;
        width: 300px;
    }

    header form button {
        width: 100px;
    }
}

@media(max-width: 320px) {
    header {
        height: 42vh;
    }

    header h1 {
        font-weight: 400;
        padding-top: 3vh;
    }

    header form {
        top: 14vh;
        left: 50vw;
        height: 40px;
        width: 300px;
    }

    header form button {
        width: 100px;
    }
}